<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li>{{#link-to 'posts'}}Recent Posts{{/link-to}}</li>
		<li>{{#link-to 'about'}}About Us{{/link-to}}</li>
		<li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li>{{#link-to 'login'}}Login{{/link-to}}</li>
		<li>{{#link-to 'register'}}Register{{/link-to}}</li>
	</ul>
</nav>
<div class="container">
	{{outlet}}
</div>