<h1>Contact Us</h1>

<form class="form-horizontal" role="form">
	<div id="credentials" class="form-group">
		<div class="col-md-4">
			<label for="username">Username</label>
			{{input id="username" class="form-control" placeholder="Username"}}
		</div>
		<div class="col-md-4">
			<label for="email">Email</label>
			{{input id="email" type="email" class="form-control" placeholder="Email"}}
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<label for="subject">Subject</label>
			{{input id="subject" class="form-control" placeholder="Subject"}}
		</div>
		<div class="col-md-8 col-md-offset-4 col-md-pull-4">
			<label for="message">Message</label>
			{{textarea id="message" class="form-control" placeholder="Your Message Here" rows="10"}}
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Send</button>
</form>