mixin navbar(menu_items)
.navbar.navbar-default
  	ul.nav.navbar-nav
  		each top_item in menu_items
  	  		li
  	  			+navlinks(top_item)
  	  	  			if top_item.child
  	  	    			ul
  	  	      				each child_item in top_item.child
  	  	      					li
									+navlinks(child_item)
mixin navlinks(item)
	- var linkattr = {'href': item.link }
	a()&attributes(linkattr)= item.title

+navbar([
	{'title':'Home','link':'/'},
	{'title':'About','link':'#/about'}
	{'title':'Conact','link':'#/contact'}

])