<h1>Recent Posts</h1>
<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			{{#each posts}}
				<a class="list-group-item">
					<div class="media">
						<div class="media-left media-middle">
							{{#link-to 'post' this}}<img class="img-circle img-thumbnail" {{bind-attr src="avatar"}}>{{/link-to}}
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{title}}</h3>
							<h4 class="media-heading text-muted">By: {{author}}</h4>
							<h5 class="media-heading text-muted">{{formatDate date}}</h5>
						</div>
					</div>
				</a>
			{{/each}}
		</div>
	</div>
</div>