<div class="row">
	<div class="col-md-6">
		<h1 class="page-heading">{{title}}</h1>
		<h4 class="lead">{{author}} - {{formatDate date}}</h4>
	</div>
	<div class="col-md-6">
		<img class="img-thumbnail" {{bind-attr src="postImg"}} >
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	</div>
</div>